body {
    background-color: black;
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;

}
#all {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border: 1px solid red;
    display: flex;
    color: white;
    /*
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    align-items: center;
    justify-content: center;
    min-height: 100px;
    */
}

.content {
    border: 5px solid blue;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.searchResults {
    display: flex;
    margin-top: 1em;
    flex-flow: row wrap;
    justify-content: space-around;
}

.searchResults .result {
    padding: .5em;
}

#meme-it-so {
    font-size: 34px;
    align-content: right;
}

/* -------------------------------------------------------  */

.bd-1-red {
    border: 1px solid red;
}

.bd-5-green {
    border: 1px solid green;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}

.flex-just-r {
    justify-content: right;
}

.flex-grow {
    flex-grow: 1;

}

/* -------------------------------------------------------- */

.lcars-bg-purple {
    background: #c8f;
}

.lcars-left-bar-top {
    border-radius: 0 0 0 100px;
    height: 200px;
}

.lcars-w-40 {
    width: 40px;
}

.lcars-w-40 {
    width: 40px;
}

.lcars-w-50 {
    width: 50px;
}

.lcars-w-200 {
    width: 200px;
}

.lcars-w-400 {
    width: 400px;
}

.lcars-flex-grow {
    flex-grow: 1;
}

.lcars-bar {
    display: flex;
    height: 22px;
    width: 100%;
}


.lcars-bar div {
    padding: 10px;
    margin-right: 5px;

}
