@tailwind base;
@tailwind components;

/* TODO: add to tailwindcss config */
.blink {
    animation: blinker 1.0s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-blue-sttng-credits {
    color: #1d7eff;
}

@tailwind utilities;


@layer base {
    body {
        @apply text-white bg-gray-900;
    }
}
