@font-face {
    font-family: Okuda;
    src: url("./fonts/Okuda.otf") format("opentype");
}

@font-face {
    font-family: Okuda;
    font-weight: bold;
    src: url("./fonts/Okuda Bold.otf") format("opentype");
}

@font-face {
    font-family: Okuda;
    font-style: italic;
    src: url("./fonts/Okuda Italic.otf") format("opentype");
}

@font-face {
    font-family: Okuda;
    font-weight: bold;
    font-style: italic;
    src: url("./fonts/Okuda Bold Italic.otf") format("opentype");
}

@font-face {
    font-family: 'OPTICristeta-Italic';
    src: url('./fonts/OPTICristeta-Italic.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;

/* TODO: add to tailwindcss config */
.blink {
    animation: blinker 1.0s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.text-blue-sttng-credits {
    color: #1d7eff;
}

@tailwind utilities;


@layer base {
    body {
        @apply text-white bg-gray-900 font-sttng-lcars;
    }
}
